<header>
    <div class="complet-nav">
        <div class="logo">
            <img class="icon-header" src="/Images/Iconos/bx-menu.svg">
            <picture class="logo-lg">
                <a href="/"><img class="lgo-simple" src="/Images/lgo_simple.svg" alt="Logo de marca"></a>
            </picture>
        </div>
        <nav class="header-nav">
            <form class="form">
                <input type="text" class="input" placeholder="Que vas a aprender hoy?">
                <button type="submit" class="submit"><i class="fas fa-search"></i></button>
            </form>
            <div class="contein-user-nav">
                <ul class="user-nav">
                    <li>
                        <a href="/" class="header-bottom">
                            <img src="/Images/Iconos/bxs-collection.svg">
                        </a>
                    </li>
                    <li>
                        <a href="/notificaciones" class="header-bottom">
                            <img src="/Images/Iconos/campana.svg">
                        </a>
                    </li>
                    <li>
                        <a href="/" class="header-bottom">
                            <img src="/Images/Iconos/bx-cart.svg">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="header-user">
                <img src="/Images/Iconos/bx-user-circle.svg">
            </div>
        </nav>
    </div>
</header>