<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cursos</title>
    <link rel="stylesheet" href="/CSS/styles2.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <!-- <link rel="stylesheet" href="/CSS/styles.css"> -->

</head>
<body>
    <header>
        <div class="complet-nav">
            <div class="logo">
                <img class="icon-header" src="/Images/Iconos/bx-menu.svg">
                <picture class="logo-lg">
                    <a href="/"><img class="lgo-simple" src="/Images/lgo_simple.svg" alt="Logo de marca"></a>
                </picture>
            </div>
            <nav class="header-nav">
                <form class="form">
                    <input type="text" class="input" placeholder="Que vas a aprender hoy?">
                    <button type="submit" class="submit"><i class="fas fa-search"></i></button>
                </form>
                <div class="contein-user-nav">
                    <ul class="user-nav">
                        <li>
                            <img src="/Images/Iconos/bxs-collection.svg">
                        </li>
                        <li>
                            <img src="/Images/Iconos/campana.svg">
                        </li>
                        <li>
                            <img src="/Images/Iconos/bx-cart.svg">
                        </li>
                    </ul>
                </div>
                <div class="header-user">
                    <img src="/Images/Iconos/bx-user-circle.svg">
                </div>
            </nav>
        </div>
    </header>
    <div class="top-curso">
        <a href="video"><img class="miniatura" src="/Images/Imagenes/img-person.jpg"></a>
    </div>
    <main  >

        <div class="detalles-curso">
            <div class="product-main">
                <article class="descripcion-curso">
                    <div>
                        <h1 class="max-tittle">
                            Metodologias agiles: Scrum
                        </h1>
                        <p>
                            descripcion del curso
                        </p>
                    </div>
                    <picture>
                        <img class="carrusel" src="/Images/Imagenes/imagen_2.jpg">
                    </picture>
                    <div>
                        <h3>
                            Descripcion
                        </h1>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam doloremque, exercitationem quasi atque similique consectetur repudiandae facilis nam nisi esse vero dolorum iure. Necessitatibus at, minima officiis tenetur veniam nulla?
                        </p>
                    </div>
                </article>
                <div>
                    <h3>
                        Temario del curso
                    </h3>
                    <p>
                        2 Módulos —45 Clases —2h 52m de duración total
                    </p>
                    <div class="tem-desplegable">
                        <ul>
                            <il>
                                introduccion
                            </il>
                            <il>
                                Tema 1
                            </il>
                            <il>
                                Tema 2
                            </il>
                        </ul>
                    </div>
                </div>
                <div class="opiniones-box">
                    <h1>
                        Valoraciones
                    </h1>
                    <div class="conteiner">
                        <article class="conteiner-son" >
                            <picture class="icon-conteiner">
                                <a href="/views/comment-curso"><img src="/Images/Iconos/bx-user.svg"></a>
                                <h2 class="cifra-conteiner">2000</h2>
                            </picture>
                                <p class="text-conteiner">
                                    Alumnos
                                </p>
                        </article>
                        <article class="conteiner-son">
                            <picture class="icon-conteiner">
                                <a href="/views/comment-curso"><img src="/Images/Iconos/bx-comment.svg"></a>
                                <h2 class="cifra-conteiner">2000</h2>
                            </picture>
                            <p class="text-conteiner">
                            Comentarios
                            </p>
                        </article>
                        <article class="conteiner-son">
                            <picture class="icon-conteiner">
                                <a href="/views/comment-curso"><img src="/Images/Iconos/bxs-like.svg"></a>
                                <h2 class="cifra-conteiner">1500</h2>
                            </picture>
                                <p class="text-conteiner">
                                    Comentarios
                                </p>
                        </article>
                    </div>
                </div>
            </div>
            <div class="detalles-costos">
                <h2 class="precio">
                    $1500
                </h2>
                <div class="boton-compra">
                    <img src="/Images/Iconos/bx-cart.svg">
                    <h3>
                        comprar
                    </h3>
                </div>
                <ul><h4>Informacion del curso</h4>
                    <li>
                        <h4>Valoraciones positivas</h4>
                    </li>
                    <li>
                        <h4>Alumnos</h4>
                    </li>
                    <li>
                        <h4>Lecciones</h4>
                    </li>
                    <li>
                        <h4>Formato</h4>
                    </li>
                    <li>
                        <h4>Idioma</h4>
                    </li>
                    <li>
                        <h4>Subtitulos</h4>
                    </li>
                    <li>
                        <h4>Nivel</h4>
                    </li>
                    <li>
                        <h4>Certificación</h4>
                    </li>
                </ul>
                
            </div>
        </div>
    </main>
</body>
</html>