<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cursos</title>
    <link rel="stylesheet" href="/css/styles.css">

</head>
<body>
    <header>
        <div class="top-header">
            <picture class="logo">
                <img src="/Images/Logo1.svg" alt="El logo de AsYuoWant">
            </picture>
            <div class="form" action="#" method="GET">
                <div class="input">Que queres aprender hoy?</div>
                <div class="submit"><a href="/public/Images/Iconos/bxs-collection.svg"</div>
            </div>
        </div>
        <div>
            <article>
                <picture class="menu-header">
                    <a href="/views/home.html"><img src="/public/Images/Iconos/bxs-collection.svg"></i>
                </picture>
            </article>
            <article>
                <picture class="menu-header">
                    <a href="/views/user.html"><img src="/public/Images/Iconos/campana.svg"></i>
                </picture>
            </article>
            <article>
                <picture class="menu-header">
                    <a href="/views/carrito.html"><img src="/public/Images/Iconos/bx-cart.svg"></a>
                </picture>
            </article>
        </div>
        <div>
            <article>
                <picture class="menu-header">
                    <a href="/views/login.html"><img src="/public/Images/Iconos/bx-user-circle.svg" </a>
                </picture>
            </article>
        </div>
    </header>
    <div>
        <!-- colocar recurso multimedia-->
    </div>
    <section>
        <article>
            <div>
                <h1>
                    Nombre del curso
                </h1>
                <p>
                    descripcion delcurso
                </p>
            </div>
            <div>
                <!--carrusel de fotos del curso-->
            </div>
            <div>
                <h3>
                    Descripcion
                </h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam doloremque, exercitationem quasi atque similique consectetur repudiandae facilis nam nisi esse vero dolorum iure. Necessitatibus at, minima officiis tenetur veniam nulla?
                </p>
            </div>
        </article>
        <div>
            <h3>
                Temario del curso
            </h3>
            <p>
                2 Módulos —45 Clases —2h 52m de duración total
            </p>
            <div class="tem-desplegable">
                <ul>
                    <il>
                        introduccion
                    </il>
                    <il>
                        Tema 1
                    </il>
                    <il>
                        Tema 2
                    </il>
                </ul>
            </div>
        </div>
        <div class="conteiner">
            <h1>
                Valoraciones
            </h1>
            <article >
                <picture class="icon-conteiner">
                    <a href="/views/comment-curso"><img src="/public/Images/Iconos/bx-user.svg"></a>
                    <h2 class="cifra-conteiner">2000</h2>
                    <p class="text-conteiner">
                        Alumnos
                    </p>
                </picture>
            </article>
            <article >
                <picture class="icon-conteiner">
                    <a href="/views/comment-curso"><img src="/public/Images/Iconos/bx-comment.svg"></a>
                    <h2 class="cifra-conteiner">2000</h2>
                    <p class="text-conteiner">
                        Comentarios
                    </p>
                </picture>
            </article>
            <article >
                <picture class="icon-conteiner">
                    <a href="/views/comment-curso"><img src="/public/Images/Iconos/bxs-like.svg"></a>
                    <h2 class="cifra-conteiner">1500</h2>
                    <p class="text-conteiner">
                        Comentarios
                    </p>
                </picture>
            </article>
        </div>
    </section>
    
</body>
</html>