<!DOCTYPE>
<html>
    <%- include('./partials/head.ejs')%>
    <body>
        <%- include('./partials/header.ejs')%>
        <main>
            <div class="nombre-usuario">
                <picture src="" alt="Tu foto de perfil"></picture>
                <h1>Nombre y Apellido</h1>
            </div>

        </main>
        <%- include('./partials/footer.ejs')%>
    </body>
</html>
