@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap");

:root{
    --celeste: #00ABD5;
    --amarillo: #fcba04;
    --violeta: #28112b;
    --marron: #453643;
    --gris-claro: #ebebeb;
    --gris-oscuro: #5E5D5C;
    --blanco: #FFF;
    --negro: #000000;
    /*Fuente*/

    --Poppins: 'Poppins', serif;

    /*Font Sizes*/
    --text: 12px;
    --title: 24px;
    --text-lg: 18px;
    --text-md: 16px;
}

/*Estilos home*/

main {
    width: 90%;
    margin: 0 auto;
}

main section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

main section article {
    background-color: var(--gris-claro);
    width: 30%;
    margin: 1.5rem 1rem;
    padding: 1rem;
}

main section article .course-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

main section article .course-card div {
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.course-card .media {
    width: 30%;
    display: flex;
    justify-content: space-evenly;
}

/*BOTONES*/

.buttons {
    display: flex;
    color: var(--negro);
    width: 100%;
    margin: 10px;
}

.add {
    width: 22%;
}

.buy {
    width: 73%;
}

/*Estilos globales*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: var(--Poppins);
}

html {
    font-size: 62.5%;
}

body {
    font-family: var();
    background-color: var(--blanco);
}

h3 {
    font-size: var(--title);
}

p {
    font-size: var(--text);
}

/*Estilos carrito*/

.carrito main {
    width: 90%;
    margin: 0 auto;
}

.carrito section {
    display: flex;
    flex-wrap: wrap;
}

.contenido-carrito {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
}

.contenido-carrito article {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.resumen {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.resumen button {
    color: var(--negro);
    background-color: var(--gris-oscuro);
    font-size: var(--text-md);
}

/*OTROS CURSOS*/

.cursos2 {
    display: flex;
    flex-wrap: wrap;
}

.cursos2 article {
    background-color: var(--gris-claro);
    width: 30%;
}

.course-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.course-card div {
    display: flex;
    flex-direction: row;
}



footer {
    background-color: var();
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: var(--negro);
    margin: 20px 10px;
}

footer .logo {
    width: 150px;
}

.ending {
    display: flex;
    justify-content: space-between;
}

footer .opciones {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 20%;
}

.social-media {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    color: var(--gris-oscuro);
}


/* Estilos detalle de producto  */

/* Estilos detalle de producto  */

header {
    width: 100%;
}

.complet-nav {
    background-color: var(--celeste);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 10;
    position: fixed;
    width: 100%;
    padding: 10px 20px;
}

.logo {
    display: flex;
    align-items: center;

}
.logo-lg {
    margin-left: 10px;
}

.logo img .lgo-simple {
    width: 100%;

}

.logo img {
    max-width: 200px;
}

.icon-sec {
    width: 100%;
}

.header-nav {
    display: flex;
    align-items: center;
}

.form {
    display: flex;
}

.input {
    background: var(--blanco);
    border: 0;
    color: inherit;
    font: inherit;
    font-size: var(--text);
    line-height: normal;
    overflow: visible;
    padding: 5px 5px;
}

.submit {
    background: none;
    border: 0;
    color: inherit;
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0
}

.fa-search {
    padding: 10px;
    background-color: var(--violeta);
    color: var(--blanco);
    border-radius: 0 5px 5px 0;
}

.contein-user-nav {
    margin: 0 10px;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.user-nav {
    display: flex;
    border-left: 2px bold --negro;
    align-items: center;
    list-style: none;
}

.user-nav li {
    margin: 0 5px;
}  


/* Contenido de pagina producto */


main {
    display: flex;
    position: absolute;
    top: 10%;
}