/* @import ; Fuente*/


:root {
    --celeste: #00ABD5;
    --rojo: #92140c;
    --violeta: #2a1e5c;
    --violeta-oscuro: #0a010d;
    --gris-oscuro: #5E5D5C;
    --gris-claro: #ebebeb;
    --blanco: #FFF;
    --negro: #000000;
    /*fuente*/


    /*Font Sizes*/
    --text: 12px;
    --title: 24px;
    --text-lg: 18px;
    --text-md: 16px;
}
