/* @import ; Fuente*/

:root {
    --amarillo: #F2B90F;
    --azul: #049DD9;
    --celeste: #05C7F2;
    --gris-claro: #f2f2f2;
    --gris-oscuro: #666;
    --blanco: #FFF;
    --negro: #000;
    /*fuente*/

    /*Font Sizes*/
    --text: 12px;
    --title: 24px;
    --text-lg: 18px;
    --text-md: 16px;
}
