/*LET'S GOOOOOOOO*/

main {
    width: 90%;
    margin: 0 auto;
}

main section {
    display: flex;
    flex-wrap: wrap;
}

.contenido-carrito {
    display: flex;
    flex-direction: column;
}

.contenido-carrito article {
    display: flex;
}

.resumen {
    display: flex;
    flex-direction: column;
}

.resumen button {
    color: var(--negro);
    background-color: var(--gris-oscuro);
    font-size: var(--text-md);
}

/*OTROS CURSOS*/

.cursos2 {
    display: flex;
    flex-wrap: wrap;
}

.cursos2 article {
    background-color: var(--gris-claro);
    width: 30%;
}

.course-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.course-card div {
    display: flex;
    flex-direction: row;
}
